.banner{
    background-image: url(../../media/fundo.jpg);
}
.filme {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}
.filme img{
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
}